body {
	background-image: linear-gradient(#FFFB, #FFFB), url("assets/logo_background.png");
	background-size: 100px;
	/* animation: move-background 10s linear infinite; */
	font-family: "Catamaran", "Trebuchet MS", sans-serif;
	line-height: 1.2;
}
@keyframes move-background {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100px 60px;
	}
}
main {
	margin: auto;
	padding: 20px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 90vw;
	height: 90vh;
	background: #FFF8;
	/* backdrop-filter: blur(1.5px); */
	border: 5px solid #D7B3D7;
	border-radius: 25px;
	box-sizing: border-box;
	text-align: center;
	overflow: auto;
}
h1 {
	margin: 6px 0;
}
@media (min-width: 1301px) {
	body {
		font-size: 1.125em;
	}
}
form {
	margin: auto;
	text-align: left;
	width: 60%;
}
@media (max-width: 1300px) {
	form {
		width: 70%;
	}
}
@media (max-width: 768px) {
	body {
		font-size: 0.875em;
	}
	form {
		width: 95%;
	}
}
@media (max-width: 450px) {
	body {
		font-size: 0.8em;
	}
	main {
		padding: 2px;
	}
	fieldset {
		padding: 5px
	}
}
#structureFilesInput:invalid {
	display: none; /* The label will make the button work */
}
#structureFilesInput ~ div {
	margin: 4px auto;
	padding: 10px;
	box-sizing: border-box;
	width: 70%;
	font-weight: 500;
	text-align: center;
	border: 3px solid #D899D8;
	border-radius: 25px;
}
#structureFilesInput ~ div p {
	margin: 0;
}
#structureFilesInput ~ div p:first-child {
	font-size: 1.4em;
}
#structureFilesInput ~ div p:last-child {
	font-size: 0.7em;
}
#structureFilesInput:valid ~ div {
	display: none;
}
fieldset:has(#structureFilesInput:invalid) ~ * {
	display: none;
}
label {
	display: block;
}
input, select {
	font-family: monospace;
}
details {
	padding: 3px;
	width: fit-content;
	border: 1px solid #AAA;
	border-radius: 5px;
	font-size: 0.825em;
}
summary {
	padding: 0 3px;
	font-weight: 500;
	font-size: 1rem;
}
button, input[type="checkbox"], input[type="number"], input[type="text"], textarea, input[type="file"]::file-selector-button, select, .buttonlike {
	padding: 1px 4px;
	border: 2px solid #D899D8;
	accent-color: #D899D8;
	border-radius: 7px;
	background: #EEDEEE;
	font-family: inherit;
	cursor: pointer;
	transition: background 0.15s;
}
input[type="number"], input[type="text"], textarea {
	cursor: text;
	outline-width: thin;
	accent-color: auto;
}
button:not(:disabled):hover, input[type="file"]:not(:disabled):hover::file-selector-button, select:not(:disabled):hover, .buttonlike:hover {
	background: #E8C8E8;
}
button:disabled, input[type="file"]:disabled::file-selector-button, selector:disabled, .buttonlike:disabled {
	cursor: not-allowed;
}
input[type="number"]:hover, input[type="text"]:hover, textarea:hover {
	background: #EAD5EA;
}
button:active, input[type="file"]:active::file-selector-button, select:active, .buttonlike:active {
	background: #DABADA;
}
input[type="checkbox"] {
	display: inline-block;
}
.resetButton {
	position: absolute;
	right: 10px;
	top: 0;
}

#configTabsCont {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
#configTabsCont input[type="radio"][name="configTabs"] {
	position: absolute; /* stay at top */
	opacity: 0;
}
#configTabsCont > label {
	flex: 1 1 0;
	text-align: center;
	margin: 10px 5px 5px;
}
#configTabsCont > fieldset {
	width: 100%;
	order: 1;
	contain: layout;
}
#configTabsCont input[type="radio"][name="configTabs"]:checked + label {
	background: #E8C8E8;
	font-weight: 500;
}
#configTabsCont input[type="radio"][name="configTabs"]:not(:checked) + label + fieldset {
	display: none;
}

#fileInputLabel {
	font-size: 1.75em;
}
#dropFileNotice {
	padding: 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #0002;
	font-size: 1.75em;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
#generatePackButton {
	margin: 4px auto;
	padding: 10px;
	box-sizing: border-box;
	width: 70%;
	display: block;
	
	border-width: 3px;
	border-radius: 25px;
	text-align: center;
	font-size: 1.4em;
	font-weight: 500;
}
img, canvas {
	display: inline-block;
	width: 400px;
	border: 1px solid black;
	background: url("assets/noise.svg");
	/* color: #4C33CC;
	color: #2C33B3;
	color: #4CF0A0
	color: hsl(300, 24%, 53%);
	color: #D899D8;
	color: #D7B3D7; */
}
#previewCont {
	padding: 5px;
	text-align: center;
}
.hidden {
	display: none !important;
}