name: Update from Upstream
on:
  workflow_dispatch: # triggered by bundleAndDeploy.yml
permissions:
  contents: write
jobs:
  update:
    name: Update
    runs-on: ubuntu-latest
    if: github.repository == 'HoloPrint-MC/holoprint-mc.github.io'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.1
        with:
          token: ${{ secrets.PAT }}
      - name: Fetch upstream
        run: |
          git remote add upstream https://github.com/SuperLlama88888/holoprint.git
          git fetch upstream --tags
          latest_tag=$(git tag --sort=-v:refname | head -n 1)
          echo "latest_tag=$latest_tag" >> $GITHUB_ENV
          git push origin upstream/main:main
          git push origin --tags
      - name: Trigger bundle and deployment workflow
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.PAT }}
          script: |
            let latestTag = process.env.latest_tag;
            let res = await github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: 'bundleAndDeploy.yml',
              ref: latestTag
            });
            console.log(`Bundle and deployment workflow triggered with status ${res.status}`);